{% set styles = styles("components/arrowLink.css.json") %}

{% if href and label %}
<a class="{{ styles.link }}" href="{{ href }}">
    {{ label }}
    <i class="{{ styles.icon }} fa fa-chevron-right" aria-hidden="true"></i>
</a>
{% endif %}