.gradient > * + * {
    margin-top: 30px;
}

.gradient:before {
    content: "";
    height: 10px;
    width: 100%;
    display: block;
    background: linear-gradient(90deg, #90278E 6%, #FFDD15);
    margin-bottom: 30px;
}

.container {
    composes: clearfix from "../global.css";

    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container > * {
    width: 33.3333%;
    float: left;
}

.container address {
    font-style: normal;
}

.copyright {
    text-align: center;
    font-size: 12px;
}

.longform {
    composes: longform from '../global.css';
}

.links a {
    text-decoration: underline;
}

.links li {
    list-style: none;
}

.links li + li {
    margin-top: 15px;
}

.equitas {
    max-width: 180px;
}