.header {
    composes: clearfix from '../global.css';
    padding: 15px 0 0;
    overflow: hidden;
}

@media screen and (width < 400px) {
    .header {
        margin-bottom: 30px;
    }

    .header[data-open="1"] {
        margin-bottom: 0;
    }
}

@media screen and (width >= 400px) {
    .header {
        padding-top: 32px;
        padding-bottom: 25px;
        background: url(/images/dots.svg);
        background-size: 1024px 130px;
    }
}

.container {
    composes: container from '../global.css';
    composes: clearfix from '../global.css';
    position: relative;
}

.menuToggle {
    color: #90278E;
    font-size: 30px;
    text-align: right;
}

@media screen and (width < 400px) {
    .desktopLogo {
        display: none;
    }

    [data-open="1"] .mobileLogo {
        width: 50px;
        position: absolute;
        top: -5px;
        left: -5px;
    }
}

@media screen and (width >= 400px) {
    .menuToggle {
        display: none;
    }

    .mobileLogo {
        display: none;
    }
 
    .desktopLogo {
        margin-left: auto;
        margin-right: auto;
        max-width: 266px;
    }
}

@media screen and (width >= 700px) {
    .desktopLogo {
        max-width: 266px;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
}

@media screen and (width < 400px) {
    .navigationContainer {
        display: flex;
        flex-direction: column;
    }

    .navigationContainer > *:last-child {
        order: 1;
    }
    
    .navigationContainer > *:first-child {
        order: 2;
    }
}

@media screen and (width >= 400px) {
    .navigationContainer {
        text-align: right;
    }
}

@media screen and (width >= 700px) {
    .navigationContainer {
        float: right;
        max-width: calc(50% - 10px) /* 8 columns, 7 gutters */;
        text-align: right;
    }
}

@media screen and (width >= 800px) {
    .navigationContainer {
        max-width: calc(66.6666% - 10px) /* 8 columns, 7 gutters */;
    }
}

.navigation {
    background: #ffdd15;
    position: relative;
    font-weight: bold;
    font-size: 17px;
}

@media screen and (width < 400px) {
    .navigation {
        display: none;
        margin-left: -30px;
        margin-right: -30px;
        padding: 15px 30px;
    }

    [data-open="1"] .navigation {
        display: block;
    }
}

@media screen and (width >= 400px) {
    .navigation {
        padding: 8px 0 3px 15px;
        float: right;
        border-radius: 4px 0 0 4px;
    }

    .navigation ul {
        margin-left: -30px;
    }

    .navigation:before {
        content: "";
        position: absolute;
        width: 100vw;
        right: -100vw;
        top: 0;
        height: 100%;
        background: #ffdd15;
    }
}

.navigation li {
    list-style: none;
}

@media screen and (width >= 400px) {
    .navigation li {
        float: left;
        margin-left: 30px;
    }
}


@media screen and (width >= 400px) {
    nav.utilityNavigation,
    .utilityNavigation ul,
    .utilityNavigation li {
        display: inline-block;
    }
}

.utilityNavigation {
    font-weight: 100;
    font-size: 13px;
}

@media screen and (width < 400px) {
    .utilityNavigation {
        display: none;
        background: #333333;
        color: #fff;
        position: relative;
        padding: 15px 30px;
        margin-left: -30px;
        margin-right: -30px;
    }

    [data-open="1"] .utilityNavigation {
        display: block;
    }
}

@media screen and (width >= 400px) {
    .utilityNavigation {
        margin-left: 20px;
        text-transform: uppercase;
    }

    .utilityNavigation li + li {
        margin-left: 13px;
    }
}

.utilityNavigation li {
    list-style: none;
}

@media screen and (width < 400px) {
    .socialNavigation {
        color: #90278E;
    }
}


@media screen and (width >= 400px) {
    .socialNavigation li + li {
        margin-left: 13px;
    }
}

.socialNavigation i {
    font-size: 21px;
    color: #90278E;
    position: relative;
    bottom: -0.1em;
}

@media screen and (width < 400px) {
    .socialNavigation {
        margin-left: -30px;
        margin-right: -30px;
        padding: 15px 30px;
        background: url(/images/dots-mail.svg) repeat center center;
        background-size: 1024px 340px;
        text-align: right;
    }

    .socialNavigation li {
        display: inline-block;
    }

    .socialNavigation li + li {
        margin-left: 10px;
    }

    .socialNavigation .searchIcon {
        display: none;
    }
}

.searchBox {
    position: relative;
    margin-bottom: 15px;
}

.searchBox input {
    border: 3px solid #90278E;
    border-radius: 4px;
    padding: 10px;
    font-family: Oswald, sans-serif;
    font-size: 16px;
    width: 100%;
}

.searchBox button {
    position: absolute;
    top: calc(50% - 3px);
    right: 15px;
    transform: translateY(-50%);
    appearance: none;
    border: none;
    padding: 0;
    line-height: 1;
    background: none;
}

@media screen and (width >= 400px) {
    .searchBox {
        display: none;
        width: 200px;
    }
}