.list {

}

.item {
    list-style: none;
}

.item + .item {
    margin-top: 30px;
    border-top: 2px solid #90278E;
    padding-top: 30px;
}

.tags {
    color: #90278E;
    font-size: 12px;
}

.tag:before {
    content: "#";
}