{% set styles = styles("components/signup.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}

<div class="{{ styles.container }} {{ spacing.heading }}">
    <h3 class="{{ styles.heading }}">New User?</h3>
    <div class="{{ styles.content }}">
        <p><a href="/signup"><strong>Register for an account</strong></a> to leave comments.</p>
    </div>
</div>