{% set styles = styles("components/slackSignupHelp.css.json") %}

<div class="{{ styles.container }}">
    <p>If you&rsquo;re already a member you can access Slack at <a href="https://equitas-youth-jeunes.slack.com"><strong>equitas-youth-jeunes.slack.com</strong></a>.</p>
</div>