.container {
    color: #90278E;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
}

.label {
    margin-left: 20px;
    cursor: pointer;
}

.label:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input {
    position: absolute;
    left: -100vw;
}

input:checked + .label:after {
    content: "\f077";
    margin-left: 0.25em;
}

[name="direction"][value="desc"] + span input:checked + label:after {
    content: "\f078";
}

.select {
    display: inline-block;
    position: relative;
    border: 1px solid #90278E;
    border-radius: 5px;
    padding-right: 20px;
}

.select select {
    appearance: none;
    border: none;
    padding: 5px;
    font-size: 14px;
    color: #90278E;
    background: none;
    width: 140px;
    font-family: Quicksand;
}

.select:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f13a";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}