.container {
    color: #90278E;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
}

.label {
    margin-left: 20px;
    cursor: pointer;
}

.label:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input {
    position: absolute;
    left: -100vw;
}

input:checked + .label:after {
    content: "\f077";
    margin-left: 0.25em;
}

[name="direction"][value="desc"] + span input:checked + label:after {
    content: "\f078";
}