.tags {
    position: absolute;
    bottom: 20px;
    right: 15px;
    text-align: right;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.tag {
    background: #FFDD15;
    display: inline-block;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
}