<h3>An entry was updated!</h3>

<p>The entry is:</p>

<ul>
    <li>{{ entry.title }}</li>
</ul>

<p>
    You can see this entry at: https://www.speakingrights.ca/admin/entries/{{ entry.section.handle }}/{{ entry.id }}
</p>