.heading {
    font-size: 36px;
}

.detail > * {
    padding: 30px 20px;
}

@media screen and (width >= 700px) {
    .detail {
        display: flex;
    }

    .detail > * {
        width: 50%;
    }
}

.detail > *:first-child {
    color: #fff;
    background-color: #90278E;
}

.detail > *:nth-child(2) {
    background-color: #FFDD15;
}

@media screen and (width >= 700px) {
    .detail > *:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}