.container {
    
}

.header a {
    font-family: Oswald, sans-serif;
    display: block;
    background: #FFDD15 url(/images/dots-event.svg) no-repeat center center;
    background-size: 643px 270px;
    padding: 66px;
    text-align: center;
    font-size: 30px;
}

.split {
    display: flex;
}

.split > * {
    padding: 20px;
}

.split > *:first-child { 
    width: 52%;
}

.split > *:last-child { 
    width: 48%;
    background-color: #90278E;
    color: #fff;
}
