.header {
    padding: 40px;
    position: relative;
}

@media screen and (940px > width >= 700px) {
    .header {
        padding: 40px 0 0;
    }
}

@media screen and (width >= 940px) {
    .header {
        background: url(/images/dots-motivate.svg) no-repeat 0 60px;
        padding: 104px 0 100px 160px;
    }
}

.header:before {
    content: "";
    position: absolute;
    width: 200vw;
    height: calc(100% + 100px);
    top: 0;
    left: -50vw;
    background: #FFDD15;
    z-index: -1;
}

.heading {
    font-size: 72px;
    font-family: Oswald, sans-serif;
    line-height: 1.2;
    color: #90278E;
}

.introduction {
    composes: longform from '../global.css';
}

.stepText {
    color: #4A4A4A;
    margin-bottom: -10px;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (width < 940px) {
    .stepNumber {
        display: none;
    }
}

.stepNumber.one {
    width: 140px;
    position: absolute;
    top: 75px;
    left: 430px;
}

.stepNumber.two {
    width: 160px;
    position: absolute;
    top: 160px;
    left: -10px;
}

.stepNumber.three {
    width: 240px;
    position: absolute;
    top: 40px;
    left: 360px;
}