.background {
    background: url(/images/dots-mail.svg) repeat center center;
    background-size: 1024px 340px;
    padding: 30px;
    color: #fff;
}

.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(90deg, #90278E, #5C23A1);
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media screen and (width >= 700px) {
    .container {
        padding: 40px;
    }
}

.container * {
    text-align: left;
}

.image {
    max-width: 140px;
    margin-right: 30px;
    display: inline-block;
}

@media screen and (width < 700px) {
    .image {
        display: none;
    }
}

.form {
    width: 100%;
    display: inline-block;
}

@media screen and (width >= 700px) {
    .form {
        width: 50%;
    }
}

@media screen and (width >= 940px) {
    .form {
        width: 60%;
    }
}

.heading {
    font-family: Oswald, sans-serif;
    font-size: 24px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.input {
    background: #fff;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    font-family: Oswald, sans-serif;
    padding: 7px 19px;
    width: 80%;
    flex-grow: 1;
}

.button {
    composes: button from '../global.css';
    color: #000;
    background: #FFDD15;
    text-align: center;
    margin-left: 20px;
}

.socialLinks {
    text-align: right;
}
