.background {
    background: purple;
}

.container {
    composes: container from '../global.css';
    composes: longform from '../global.css';
    padding: 40px 80px;
    color: #fff;
    font-size: 18px;
}