.container {
    composes: clearfix from '../global.css';
    background: #FFDD15 url(/images/dots-step.svg) no-repeat left center;
    background-size: 1015px 382px;
}

@media screen and (width >= 700px) {
    .container {
        background-position: center center;
    }
}

.content {
    composes: container from '../global.css';
    min-height: 395px;
    position: relative;
}

.number {
    position: relative;
    width: 350px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (width >= 700px) {
    .number {
        position: absolute;
        left: 21%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .right .number {
        left: auto;
        right: 0;
        transform: translateY(-50%);
    }
}

@media screen and (width >= 940px) {
    .number {
        left: 220px;
    }

    .right .number {
        left: auto;
        right: 100px;
        transform: translateY(-50%);
    }
}

.numeral, .heading, .one .cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.one .numeral {
    width: 80px;
    margin-left: -15px;
}

.heading {
    font-family: Oswald;
    font-size: 50px;
    color: #90278E;
    white-space: nowrap;
}

.one .cta {
    top: calc(50% + 150px);
    font-weight: bold;
    color: #90278E;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.two .numeral {
    width: 120px
}

.two .heading {
    font-size: 74px;
}

.two .cta {
    position: absolute;
    top: 0px;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    font-family: Quicksand, sans-serif;
    color: #4A4A4A;
}

.three .numeral {
    width: 120px;
}

@media screen and (width < 700px) {
    .one .cta {
        display: none;
    }
}

.text {
    composes: longform from '../global.css';
    padding: 25px 20px;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.75;
    position: relative;
}

.two .text {
    font-family: Oswald, sans-serif;
    font-size: 18px;
}

.left {

}

@media screen and (width >= 700px) {
    .text {
        padding: 75px 0;
        float: right;
        width: 41.66666%;
        margin-right: calc(8.333333% + 20px);
    }

    .two .text {
        padding-left: 60px;
    }

    .right .text {
        float: left;
    }

    .one .text > *:first-child,
    .one .text > *:last-child {
        position: relative;
    }

    .one .text > *:first-child:before,
    .one .text > *:last-child:after {
        position: relative;
        font-size: 50px;
        color: #90278E;
    }

    .one .text > *:first-child:before {
        content: '\201c';
        position: absolute;
        top: -0.3em;
        left: -0.7em;
    }

    .one .text > *:last-child:after {
        content: '\201d';
        position: absolute;
        bottom: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #90278E;
    font-size: 30px;
}