.container {
    composes: clearfix from '../global.css';
    background: #FFDD15;
}

.container.three {
    background-position: calc(50% - 180px) center;
}

@media screen and (width >= 700px) {
    .container {
        background-position: center center;
    }
}

.content {
    composes: container from '../global.css';
    min-height: 395px;
    position: relative;
}

.number {
    padding: 25px 20px 0 20px;
}

@media screen and (width >= 700px) {
    .container {
        background: #FFDD15 url(/images/dots-step.svg) no-repeat left center;
        background-size: 1015px 382px;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .number {
        position: absolute;
        left: 21%;
        top: 50%;
        width: 350px;
        height: 300px;
        padding: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    .right .number {
        left: auto;
        right: 0;
        transform: translateY(-50%);
    }
}

@media screen and (width >= 940px) {
    .number {
        left: 220px;
    }

    .right .number {
        left: auto;
        right: 100px;
        transform: translateY(-50%);
    }
}

.numeral {
    display: none;
}

.heading {
    font-family: Oswald;
    font-size: 42px;
    color: #90278E;
    white-space: nowrap;
}

@media screen and (width >= 700px) {
    .numeral {
        display: block;
    }

    .numeral, .heading, .one .cta {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .heading {
        font-size: 70px;
    }

    .one .numeral {
        width: 190px;
        margin-left: 15px;
        margin-top: -10px;
    }

    .one .cta {
        top: calc(50% + 150px);
        font-weight: bold;
        color: #90278E;
        text-transform: uppercase;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .two .numeral {
        width: 250px
    }

    .two .heading {
        font-size: 74px;
    }

    .two .cta, .three .cta, .four .cta {
        position: absolute;
        top: 0px;
        left: 0;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        font-family: Quicksand, sans-serif;
        color: #4A4A4A;
    }

    .three .numeral {
        width: 330px;
    }
}

@media screen and (width < 700px) {
    .one .cta {
        display: none;
    }
}

.text {
    padding: 25px 20px;
    font-family: Oswald, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.75;
    position: relative;
}

.left {

}

@media screen and (width >= 700px) {
    .text {
        padding: 75px 0;
        float: right;
        width: 41.66666%;
        margin-right: calc(8.333333% + 20px);
    }

    .two .text {
        padding-left: 60px;
    }

    .right .text {
        float: left;
    }
}

.next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #90278E;
    font-size: 30px;
}