{% set styles = styles("news/listing.css.json") %}

<ul class="{{ styles.container }}">
    {% for item in items %}
        <li>
            <a href="{{ item.url }}">
                <p class="{{ styles.image }}">
                    {% include "news/_image" with {"image": item.image, "transform": {"mode": "crop", "width": 600, "height": 360}} only %}
                </p>
                <p>{{ item.title }}</p>
            </a>
            {% include "blocks/summary" with {"blocks": item.body} only %}
        </li>
    {% endfor %}
</ul>