{% extends "layouts/default" %}

{% set styles = styles("pages/search.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set shortHero = true %}
{% set heroLabel = "Search"|t %}

{% set criteria = craft.entries %}

{% if craft.request.getParam('type') %}
    {% set type = craft.request.getParam('type') %}
    {% if type == 'downloads' %}
        {% set type = ['downloads', 'links'] %}
    {% endif %}
    {% set criteria = criteria.type(type) %}
{% else %}
    {# {% set criteria = criteria %} #}
{% endif %}

{% if craft.request.getParam('topic') %}
    {% set topic = craft.categories.slug(craft.request.getParam('topic')).first %}
    {% set heroLabel = ("Topic"|t) ~ " “" ~ localeField(topic, 'title') ~ "”" %}

    {% set criteria = criteria.relatedTo(topic) %}
{% endif %}

{% if craft.request.getParam('tactic') %}
    {% set tactic = craft.categories.slug(craft.request.getParam('tactic')).first %}
    {% set heroLabel = ("Tactic"|t) ~ " “" ~ localeField(tactic, 'title') ~ "”" %}

    {% set criteria = criteria.relatedTo(tactic) %}
{% endif %}

{% if craft.request.getParam('q') %}
    {% set criteria = criteria.search(craft.request.getParam('q')) %}
{% endif %}

{% set criteria = criteria.limit(10) %}

{% paginate criteria as pageInfo, entries %}

{% use "cap/hero" %}

{% block main %}
    <ul class="{{ craft.request.getParam('type') == 'downloads' ? styles.downloadContainer : styles.container }} {{ spacing.default }}">
        {% for entry in entries %}
            <li>
                {% include [entry.type.handle ~ "/teaser", "components/defaultTeaser"] ignore missing with {"entry": entry} only %}
            </li>
        {% endfor %}
    </ul>
    {% include "components/pagination" with {"pageInfo": {
        'first': pageInfo.first,
        'last': pageInfo.last,
        'total': pageInfo.total,
        'currentPage': pageInfo.currentPage,
        'totalPages': pageInfo.totalPages,
        'prevUrl': '/search-all?type=' ~ craft.request.getParam('type') ~ '&q=' ~ craft.request.getParam('q') ~ '&page=' ~ (craft.request.getParam('page', 1) - 1),
        'nextUrl': '/search-all?type=' ~ craft.request.getParam('type') ~ '&q=' ~ craft.request.getParam('q') ~ '&page=' ~ (craft.request.getParam('page', 1) + 1),
    }} only %}
{% endblock %}

{% block sidebar %}
    {% include "blocks/topics" with {"blockTitle": "Search By"|t, "type": craft.request.getParam('type')} only %}
    {% include "components/mailingListSignup" %}
{% endblock %}