.button {
    appearance: none;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 6px;
    padding: 8px 15px;
    font-family: inherit;
    font-size: 18px;
    display: inline-block;
}

.input {
    font-size: 18px;
    padding: 8px 15px;
    width: 40%;
}

.inputFull {
    font-size: 18px;
    padding: 8px 15px;
    width: 100%;
}

.half {
    width: calc(50% - 10px);
    float: left;
    margin-right: 10px;
}

.half + .half {
    margin-left: 10px;
    margin-right: 0;
    margin-top: 0;
}

.row:after {
    display: table;
    clear: both;
    content: '';
}

.row + * {
    clear: both;
}

.links {
    margin-left: 20px;
}

@media screen and (width >= 700px) {
    .links {
        margin-left: 0;
    }
}