<ul>
    <li><a href="{{ craft.social.loginUrl('google', {redirect: '/'}) }}">{{ "Sign in with Google"|t }}</a></li>
    <li><a href="{{ craft.social.loginUrl('facebook', {redirect: '/'}) }}">{{ "Sign in with Facebook"|t }}</a></li>
</ul>