<ul>
    <li><a href="{{ craft.social.loginUrl('google', {redirect: '/'}) }}">Sign in with Google</a></li>
    <li><a href="{{ craft.social.loginUrl('facebook', {redirect: '/'}) }}">Sign in with Facebook</a></li>
</ul>