.siteMap ul {
    margin-left: 50px;
}

.siteMap li {
    font-weight: bold;
}

.siteMap li li {
    font-weight: normal;
}

.siteMap > li + li {
    margin-top: 20px;
}

.siteMap > ul li + li {
    margin-top: 10px;
}