{% extends "layouts/default" %}

{% set styles = styles("news/news.css.json") %}
{% set spacing = styles("layouts/spacing.css.json") %}
{% set heroLabel = 'Sitemap' %}
{% set shortHero = true %}

{% use "cap/hero" %}

{% block main %}
    <p>All pages, ordered by recent updates</p>
    <ul>
        {% for entry in craft.entries.section(['about', 'news', 'communityActionProject', 'downloads', 'events', 'investigate', 'motivate', 'resources', 'takeAction']).limit(null).order('dateUpdated desc') %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}